<div class="initiative">
  <%= subjects(initiative, tag: "span", class: "label radius") %>

  <h4 class="title"><%= link_to initiative.title, initiative %></h4>

  <p><%= truncate(initiative.description, length: 200) %></p>

  <div class="bottom row">
    <div class="ten columns left">
      <div class="row">
        <div class="five columns">
          <span class="label secondary radius"><%= t("initiatives.presented_at") %></span>
          <div><%= l(initiative.presented_at, format: :date) %></div>
        </div>
        <div class="seven columns">
          <% if initiative.member %>
            <span class="label secondary radius"><%= t("initiatives.proposed_by") %></span>
            <div class="proposer-small <%= party_abbr(initiative.member) %>-small">
              <%= link_to_sponsors initiative %>
            </div>
          <% elsif initiative.other_sponsor %>
            <span class="label secondary radius"><%= t("initiatives.proposed_by") %></span>
            <div class="proposer-small no-logo"><%= initiative.other_sponsor %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="two columns right"><%= number_with_delimiter(initiative.views_count.to_i) %> <%= t('initiatives.views_count') %></div>
  </div>
</div>

<hr class="separator">