<% title t('initiatives.initiatives') %>

<h3 class="section-header"><%= t('initiatives.initiatives') %></h3>

<%= render "search_form" %>

<div class="sorting row">
  <%= link_to_sort t('initiatives.all'), nil, class: "sort button" %>
  <%= link_to_sort t('initiatives.most_viewed'), "views_count_desc", class: "sort button" %>
  <%= link_to_sort t('initiatives.most_recent'), "presented_at_desc", class: "sort button" %>
</div>

<div class="row">
  <div class="nine columns">
    <div class="initiatives">
      <%= render @initiatives %>
    </div>

    <%= paginate @initiatives %>
  </div>

  <div class="three columns">
    <div class="sidebar">
      <h4 class="section-header"><%= t('subjects.subjects') %></h4>

      <div class="subjects">
        <div class="subject <%= "active" unless params[:subject_id] %>">
          <%= link_to t("subjects.all"), initiatives_path %>
        </div>
        <%= render @subjects %>
      </div>
    </div>
  </div>
</div>