<% title t('initiatives.initiatives') %>

<h2 class="section-header"><%= t('initiatives.initiatives') %></h2>

<%= render "search_form" %>

<div class="sorting row">
  <%= link_to_sort t('initiatives.all'), nil, class: "sort button" %>
  <%= link_to_sort t('initiatives.most_viewed'), "views_count_desc", class: "sort button" %>
  <%= link_to_sort t('initiatives.most_recent'), "presented_at_desc", class: "sort button" %>
</div>

<div class="initiatives">
  <%= render @initiatives %>
</div>

<%= paginate @initiatives %>