<% title @initiative.title %>

<div class="row">
  <div class="nine columns">
    <%= subjects(@initiative, tag: "div", class: "label label-large radius inline") %>

    <h2><%= @initiative.title %></h2>

    <div class="row">
      <div class="six columns">
        <div class="label secondary radius"><%= t("initiatives.proposed_by") %></div>

        <% if @initiative.member %>
          <div class="proposer <%= party_abbr(@initiative.member) %>"><%= link_to @initiative.member.try(:name), @initiative.member %></div>

          <% if @initiative.sponsors.present? %>
            <% @initiative.sponsors.each do |sponsor| %>
              <div class="proposer-small <%= party_abbr(sponsor) %>-small inline"><%= link_to sponsor.name, sponsor %></div>
            <% end %>
          <% end %>
        <% elsif @initiative.other_sponsor %>
          <div class="proposer no-logo"><%= @initiative.other_sponsor %></div>
        <% end %>
      </div>
      <div class="six columns">
        <div class="label secondary radius"><%= t("initiatives.oficial_votes") %></div>

        <div class="votes <%= 'disabled' unless @initiative.has_been_voted? %>">
          <h3 class="subheader not_yet_voted"><%= t('initiatives.has_not_been_voted') %></h3>
          <div class="vote for">
            <span class="count" style="width: <%= votes_width(@initiative, :for) %>%"></span>
            <span class="number"><%= @initiative.total_votes(:for) %></span>
          </div>
          <div class="vote against">
            <span class="count" style="width: <%= votes_width(@initiative, :against) %>%"></span>
            <span class="number"><%= @initiative.total_votes(:against) %></span>
          </div>
          <div class="vote neutral">
            <span class="count" style="width: <%= votes_width(@initiative, :neutral) %>%"></span>
            <span class="number"><%= @initiative.total_votes(:neutral) %></span>
          </div>
        </div>
      </div>
    </div>

    <h5><%= t('initiatives.description') %></h5>
    <p><%= @initiative.description %></p>

    <% if @initiative.original_document_url.present? %>
    <p>
      <%= link_to t('initiatives.go_to_original_document'), @initiative.original_document_url, class: "small button", target: "_blank" %>
    </p>
    <% end %>

    <% if @initiative.summary_by.present? %>
    <p>
      <span class="label secondary radius"><%= t("initiatives.summary_by") %></span>
      <span><%= @initiative.summary_by %></span>
    </p>
    <% end %>

    <br/>

    <%= render "disqus" %>
  </div>

  <div class="three columns">
    <div class="sidebar">
      <div class="user-support">
        <h4><%= t('initiatives.vote_on_this_initiative') %></h4>

        <div class="vote-stats">
          <p class="<%= @initiative.users_support_percentage > 0.5 ? 'supported' : 'not-supported' %>">
            <%= t("initiatives.users_support_percentage", percentage: number_to_percentage(@initiative.users_support_percentage*100, precision: 0)) %>
          </p>

          <p class="notes">
            <%= t("initiatives.in_favor", count: @initiative.user_votes_count("for")) %>  /
            <%= t("initiatives.opposed", count: @initiative.user_votes_count("against")) %>
          </p>
        </div>

        <div class="voting-actions">
          <%= render "voting_actions" %>
        </div>
      </div>
    </div>
  </div>
</div>