<% title @deputy.name %>

<div class="row">
  <div class="nine columns">
    <h2 class="deputy-name <%= party_abbr(@deputy) %>"><%= link_to @deputy.name, @deputy %></h2>

    <h4 class="subtitle"><%= @deputy.state_name %></h4>

    <hr/>

    <div class="row">
      <div class="twelve columns voted-initiatives">
        <%= link_to t("deputies.back_to_profile"), @deputy, class: "button small" %>

        <hr/>

        <h4><%= t('deputies.voted_initiatives') %></h4>

        <%= render partial: "voted_initiative", collection: @voted_initiatives %>
      </div>
    </div>

    <hr/>
  </div>

  <div class="three columns">
    <%= render "sidebar" %>
  </div>
</div>