<% content_for :banner do %>
<div class="row banner">
  <h1><%= t('home.title') %></h1>

  <br/>

  <%= link_to t("home.register_and_participate"), new_user_registration_path, class: "button large" %>

  <%= link_to t("home.find_my_member"), "#", id: "find-member-button", class: "button button-third large" %>

  <div id="find-member" class="reveal-modal medium">
    <div class="twelve">
      <div class="six columns">
        <%= image_tag("ife.png") %>
      </div>
      <div class="six columns">
        <h4><%= t("home.find_my_member") %></h4>
        <%= form_tag sections_path, method: :get do %>
          <%= label_tag :state_id, t("members.state") %>
          <%= select_tag :state_id, options_from_collection_for_select(State.all, :id, :name) %>
          <%= label_tag :section_number, t("home.section_number") %>
          <%= text_field_tag :section_number %>
          <%= submit_tag t("home.search"), class: "button small" %>
        <% end %>
      </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
<% end %>

<div class="row">
  <div class="twelve columns content">
    <div class="row">
      <div class="twelve columns">
        <h4 class="section-header"><%= t('home.latest_initiatives') %></h4>

        <div class="initiatives">
          <%= render partial: "home/initiative", collection: @initiatives %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="eight columns">
        <h4 class="section-header"><%= t('home.about_us') %></h4>

        <h4 class="subheader"><%= t('home.mi_congreso_pitch') %></h4>
        <h4 class="center"><%= t('home.explore') %></h4>
        <h4 class="center"><%= t('home.mexicanos') %></h4>
      </div>

      <div class="four columns">
        <%= twitter_timeline("micongreso", "296494828806619136") %>
      </div>
    </div>

  </div>
</div>
