<% content_for :banner do %>
<div class="row banner">
  <h1><%= t('home.title') %></h1>
</div>
<% end %>

<div class="row">
  <div class="twelve columns content">
    <h4 class="section-header"><%= t('home.about_us') %></h4>

    <h4 class="subheader"><%= t('home.mi_congreso_pitch') %></h4>
    <h4 class="center"><%= t('home.explore') %></h4>
    <h4 class="center"><%= t('home.mexicanos') %></h4>

    <h4 class="section-header"><%= t('home.latest_initiatives') %></h4>

    <div class="initiatives">
      <%= render partial: "home/initiative", collection: @initiatives %>
    </div>
  </div>
</div>