<% content_for :banner do %>
<div class="row banner">
  <h1><%= t('home.title') %></h1>

  <br/>

  <%= link_to t("home.register_and_participate"), new_user_registration_path, class: "button large" %>
</div>
<% end %>

<div class="row">
  <div class="twelve columns content">

    <h4 class="section-header"><%= t('home.latest_initiatives') %></h4>

    <div class="initiatives">
      <%= render partial: "home/initiative", collection: @initiatives %>
    </div>

    <h4 class="section-header"><%= t('home.about_us') %></h4>

    <h4 class="subheader"><%= t('home.mi_congreso_pitch') %></h4>
    <h4 class="center"><%= t('home.explore') %></h4>
    <h4 class="center"><%= t('home.mexicanos') %></h4>
  </div>
</div>