<footer>
  <div class="row">
    <div class="twelve columns">
      <div class="row">
        <div class="two columns">
          <h4>Mi Congreso</h4>
          <ul>
            <li><%= link_to "Acerca de Nosotros", "#nosotros" %></li>
          </ul>
        </div>

        <div class="two columns">
          <h4>Síguenos</h4>
          <ul>
            <li><%= link_to "Twitter", "#twitter" %></li>
            <li><%= link_to "Facebook", "#facebook" %></li>
          </ul>
        </div>

        <div class="two columns">
          <h4>Contáctanos</h4>
          <ul>
            <li><%= link_to "info@micongreso.mx", "mailto:info@micongreso.mx" %></li>
          </ul>
        </div>

        <div class="four columns end">
          <h4>Ligas de Interés</h4>
          <ul>
            <li><%= link_to "Cámara de Diputados", "#camara_diputados" %></li>
            <li><%= link_to "Sistema de Información Legislativa", "#sil" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

