<%= search_form_for @search, html: {class: "search-box"} do |f| %>

  <div class="row">
    <div class="three column">
      <%= f.label :name_cont, t("members.name") %>
    </div>
    <div class="three column">
      <%= f.label :party_id_eq, t("members.party") %>
    </div>
    <div class="three column">
      <%= f.label :state_id_eq, t("members.state") %>
    </div>
    <div class="three column"></div>
  </div>

  <div class="row">
    <div class="three column">
      <%= f.text_field :name_cont %>
    </div>
    <div class="three column">
      <%= f.select :party_id_eq, [["Todos", nil]] + Party.order(:name).collect {|p| [p.name, p.id]} %>
    </div>
    <div class="three column">
      <%= f.select :state_id_eq, [["Todos", nil]] + State.order(:name).collect {|p| [p.name, p.id]} %>
    </div>

    <div class="three column">
      <%= f.submit t("search"), class: "small button" %>
    </div>
  </div>
<% end %>