<% title t('members.members') %>

<h2 class="section-header">Diputados</h2>

<%= search_form_for @search do |f| %>

  <div class="row">
    <div class="three column">
      <%= f.label :name_cont, t("members.name") %>
    </div>
    <div class="three column">
      <%= f.label :party_id_eq, t("members.party") %>
    </div>
    <div class="three column">
      <%= f.label :state_id_eq, t("members.state") %>
    </div>
    <div class="three column"></div>
  </div>

  <div class="row">
    <div class="three column">
      <%= f.text_field :name_cont %>
    </div>
    <div class="three column">
      <%= f.select :party_id_eq, [["Todos", nil]] + Party.all.collect {|p| [p.name, p.id]} %>
    </div>
    <div class="three column">
      <%= f.select :state_id_eq, [["Todos", nil]] + State.all.collect {|p| [p.name, p.id]} %>
    </div>

    <div class="three column">
      <%= f.submit t("search"), class: "small button" %>
    </div>
  </div>
<% end %>

<table border="0" width="100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Partido</th>
      <th>Estado</th>
    </th>
  </thead>

  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= link_to member.name, member %></td>
      <td><%= member.party_name %></td>
      <td><%= member.state_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members %>