<% title t('members.members') %>

<h2 class="section-header"><%= t('members.members') %></h2>

<%= render "search_form" %>

<table border="0" width="100%">
  <thead>
    <tr>
      <th><%= t('members.name') %></th>
      <th><%= t('members.party') %></th>
      <th><%= t('members.state') %></th>
    </th>
  </thead>

  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= link_to member.name, member %></td>
      <td><%= member.party_name %></td>
      <td><%= member.state_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members %>