<% title @member.name %>

<div class="row">
  <div class="nine columns">
    <h2 class="member-name <%= party_abbr(@member) %>"><%= @member.name %></h2>

    <h4 class="subtitle"><%= @member.state_name %></h4>

    <hr/>

    <div class="initiatives">
      <h4><%= t('members.sponsored_initiatives') %></h4>
      <% if @initiatives.present? %>
        <%= render partial: "initiative", collection: @initiatives %>
      <% else %>
        <h6><%= t('members.no_initiatives_sponsored', name: @member.name) %></h6>
      <% end %>
    </div>

    <hr/>

    <div class="label secondary radius"><%= t("members.assistances") %></div>
    <h4>
      <%= number_to_percentage(@member.assistance_stats.assisted_percentage * 100) %>
      <%= t("members.assistances_counts", assisted: @member.assistance_stats.assisted_count, total: @member.assistance_stats.total_count) %>
    </h4>
  </div>

  <div class="three columns">
    <div class="sidebar">
      <div class="panel avatar">
        <%= image_tag @member.photo.url %>
      </div>

      <span class="label radius"><%= t('members.email') %></span>
      <p><%= link_to truncate(@member.email, length: 27), "mailto:#{@member.email}" %></p>

      <% if @member.twitter.present? %>
      <span class="label radius"><%= t('members.twitter') %></span>
      <p><%= link_to_twitter_username @member.twitter %></p>
      <% end %>

      <span class="label radius"><%= t('members.election_type') %></span>
      <p><%= t("election_type.#{@member.election_type}") %></p>

      <span class="label radius"><%= t('members.substitute') %></span>
      <p><%= @member.substitute %></p>

      <% if @member.birthdate.present? %>
      <span class="label radius"><%= t('members.age') %></span>
      <p><%= @member.age %></p>
      <% end %>
    </div>
  </div>
</div>