<% title @member.name %>

<div class="row">
  <div class="nine columns">
    <h2 class="member-name <%= party_abbr(@member) %>"><%= @member.name %></h2>

    <h4 class="subtitle"><%= @member.state_name %></h4>

    <hr/>

    <div class="initiatives">
      <h4><%= t('members.sponsored_initiatives') %></h4>
      <% if @sponsored_initiatives.present? %>
        <%= render partial: "initiative", collection: @sponsored_initiatives %>
      <% else %>
        <h6><%= t('members.no_initiatives_sponsored', name: @member.name) %></h6>
      <% end %>
    </div>

    <hr/>

    <div class="row">
      <div class="twelve columns voted-initiatives">
        <h4><%= t('members.voted_initiatives') %></h4>

        <%= render partial: "voted_initiative", collection: @voted_initiatives %>

        <%= link_to t("members.see_all_votes"), votes_member_path(@member), class: "button small all-votes" %>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="six columns">
        <div class="label secondary radius"><%= t("members.assistances") %></div>
        <h4>
          <%= number_to_percentage(@member.assistance_stats.assisted_percentage * 100) %>
          <%= t("members.assistances_counts", assisted: @member.assistance_stats.assisted_count, total: @member.assistance_stats.total_count) %>
        </h4>
      </div>

      <div class="six columns">
        <% if @member.twitter.present? && @member.twitter_widget_id.present? %>
          <%= twitter_timeline(@member.twitter, @member.twitter_widget_id) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="three columns">
    <%= render "sidebar" %>
  </div>
</div>